html,
body {
  background: linear-gradient(#a66df8, #35cdc4);
  margin: 0;
  min-height: 100vh;
}

#app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  margin: 0;
}

nav ul li {
  @apply block hover:bg-white/50 hover:cursor-pointer hover:outline-white hover:outline-white/70;
  @apply rounded-xl;
  a {
    @apply font-extrabold;
    @apply block px-12 py-4;
  }
}

section {
  @apply min-h-screen;
  @apply flex items-center justify-items-center;
}

section > div {
  @apply p-24;
  @apply prose prose-lg;
  @apply bg-white/70 border-white/20 rounded-xl;
}
